body {
  margin: auto;
}
a {
  text-decoration: none;
}
/* Header CSS */
#header {
  height: 60px;
  background-color: #f58d72;
}
#icon {
  float: left;
  margin-left: 1%;
  margin-top: -0.5%;
}
#social {
  float: right;
}
.slogo {
  height: 50px;
  width: 50px;
  border-radius: 29%;
}
/* Search CSS*/
#search {
  height: 400px;
  width: 100%;
  background-image: url(Images/home_wallpaper.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 400px;
}

#logo {
  height: 150px;
  width: 150px;
  background-color: rgba(240 229 229/ 80%);
  border-radius: 50%;
  margin-top: 2%;
  margin-left: 47%;
  position: absolute;
}

#logo > span {
  margin-top: 18%;
  margin-left: 29%;
  position: absolute;
  font-size: 80px;
}

#heading {
  margin-top: 12%;
  margin-left: 31%;
  position: absolute;
  font-size: 50px;
  color: white;
}

.dropdown {
  height: 60px;
  width: 50%;
  margin-top: 16%;
  margin-left: 27%;
  position: absolute;
}

select {
  height: 60px;
  width: 40%;
  font-size: 20px;
  text-align: center;
}
.restSecect {
  width: 55%;
}

/* QuickSearch CSS */
#quickSearch {
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;
}

#quickHeading {
  font-size: 30px;
  color: #f58d72;
  display: block;
  margin-left: 2%;
  margin-top: 1%;
}

#quickSubHeading {
  font-size: 20px;
  color: grey;
  display: block;
  margin-left: 2%;
  line-height: 3;
}

.tileContainer {
  height: 190px;
  width: 30%;
  box-shadow: 19px 19px 11px grey;
  display: inline-block;
  margin-left: 2%;
  margin-top: 2%;
}

.tileComponent1 {
  width: 50%;
  height: 190px;
  background-color: blue;
  float: left;
}

.tileComponent1 > img {
  width: 100%;
  height: 100%;
}

.tileComponent2 {
  width: 48%;
  height: 190px;
  float: left;
}

.componentHeading {
  color: orange;
  font-size: 38px;
  margin-top: 18%;
  margin-left: 9%;
}
.componentHeading > a {
  color: orange;
}

.componentSubheading {
  color: grey;
  font-size: 18px;
  margin-top: 1%;
  margin-left: 9%;
}

/* Footer CSS */
#footer {
  height: 120px;
  width: 100%;
  background-color: rgb(251, 149, 90);
  margin-bottom: 0.5%;
}

#footText {
  text-align: center;
}

.FootDiv {
  height: 70px;
  width: 33%;
  float: left;
  border-right: 2px solid black;
}

.FootDiv > p {
  margin-left: 2%;
  text-align: center;
}

.noborder {
  border: none;
}
