body {
  margin: auto;
}
a {
  text-decoration: none;
}
/* Header CSS */
#header {
  height: 60px;
  background-color: #f58d72;
}
#icon {
  float: left;
  margin-left: 1%;
  margin-top: -0.5%;
}
#social {
  float: right;
}
.slogo {
  height: 50px;
  width: 50px;
  border-radius: 29%;
}
/* Search CSS*/
#search {
  height: 400px;
  width: 100%;
  background-image: url(Images/home_wallpaper.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 400px;
}

#logo {
  height: 150px;
  width: 150px;
  background-color: rgba(240 229 229/ 80%);
  border-radius: 50%;
  margin-top: 2%;
  margin-left: 47%;
  position: absolute;
}

#logo > span {
  margin-top: 18%;
  margin-left: 29%;
  position: absolute;
  font-size: 80px;
}

#heading {
  margin-top: 13%;
  margin-left: 30%;
  position: absolute;
  font-size: 50px;
  color: white;
}

.dropdown {
  height: 60px;
  width: 60%;
  margin-top: 16%;
  margin-left: 20%;
  position: absolute;
  border: 2px solid;
}

select {
  height: 60px;
  width: 40%;
  font-size: 20px;
  text-align: center;
}
.restSecect {
  width: 55%;
}

/* QuickSearch CSS */
#quickSearch {
  height: 600px;
  width: 100%;
  border: 8px double rgb(255, 0, 98);
}
/* Footer CSS */
#footer {
  height: 60px;
  width: 100%;
  border: 5px groove rgb(253, 207, 0);
}
